*{
    padding: 0;
    margin: 0;
    font-family: "asap", sans-serif;
}
body {
    text-align: center;
    background-color:  #080D1C;
    color: #FFF;
}

#dealer-cards img {
    height: 175px;
    width: 125px;
    margin: 5px;
    border-radius: 5px;
}

#your-cards img {
    height: 175px;
    width: 125px;
    margin: 5px;
    border-radius: 5px;
}

#results{
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

button{
    width: 100px;
    height: 50px;
    font-size: 20px;
    border: none;
    background-color: cornflowerblue;
    color: #FFF;
    padding: 10px 15px;
    border-radius: 10px;
    margin: 5px;
}

.bet-text{
    font-size: 20px;
    font-weight: bold;
    width: 70px;
    height: 30px;
    border-radius: 10px;
    margin: 5px;

}
