* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Asap", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #080d1c;
}

.container {
  width: 520px;
  background-color: transparent;
  border: 2px solid #007aff;
  border-radius: 10px;
  color: #fff;
  padding: 30px 40px;
  box-shadow:0 0 10px #007aff(0, 0, 0, .2);
  backdrop-filter: blur(50px);
}

.container img {
  width: 70px;
}

.container h1 {
  font-size: 30px;
  position: absolute;
  top: 30px;
  padding: 20px 80px 30px ;
}

.container h2 {
  font-size: 30px;
  text-align: center;
  margin-top: 10px;
}

.form-content {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 50px 0;
}

.form-content input {
  width: 100%;
  height: 100%;
  background-color: #1C284A;
  border: 2px solid #007aff;
  border-radius: 40px;
  outline: none;
  font-size: 18px;
  color: #fff;
  margin-top: 10px;
  padding: 20px 45px 20px 20px;
}

.form-content input::placeholder{
  color: #e4e1e1;

}

.Cadastrar {
  width: 100%;
  height: 40px;
  background-color: #1C284A;
  border: 2px solid #007aff;
  border-radius: 40px;
  cursor: pointer;
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  margin-top: 25px;
}

.Cadastrar:hover {
  background-color: transparent;
  border: 1px solid #007aff;
  color: #fff;
  transition: 0.5s;
}