header{
    background-color: #131f41;
}

.container-logo{
    display: flex;
    align-items: center;
}
.logo-imagem{
    width: 50px;
    height: 50px;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}
.nav-list{
    display: flex;
    align-items: center;
}
.nav-list ul{
    display: flex;
    align-items: center;
    list-style: none;
}
.nav-item{
    margin: 0 15px;
}
.nav-link{
    text-decoration: none;
    font-size: 1.15rem;
    color: #FFF;
}

.login-button{ display: none;}
.login-button button{
    border: none;
    background-color: cornflowerblue;
    padding: 10px 15px;
    border-radius: 30px;
}
.login-button button a {
    text-decoration: none;
    color: #FFF;
    font-weight: 500;
    font-size: 1.1rem;
}

.menu li{
    display: inline-block;
    margin: 0 10px;
}
.menu li a{
    font-size: 15px;
    text-decoration: none;
    color: white;
}

.div-conta{
    display: flex;
    align-items: center;
}
.user-coins{
    margin-top: 10px;
}
.coins{
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
.user-icon{
    height: 50px;
    width: 50px;
    margin-left: 20px;
}

#Username{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
}
#saldo{
    font-family: sans-serif;
    font-weight: bold;
    color: #F5C823;
    font-size: 15px;
    margin-left: 5px;
}
