*{
    padding: 0;
    margin: 0;
    font-family: "asap", sans-serif;
}
body {
    text-align: center;
    background-color:  #080D1C;
    color: #FFF;
}
header{
    background-color: #131f41;
}
a{
    text-decoration: none;
    color: #FFF;
}

.container-logo{
    display: flex;
    align-items: center;
}
.logo-imagem{
    width: 50px;
    height: 50px;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}
.nav-list{
    display: flex;
    align-items: center;
}
.nav-list ul{
    display: flex;
    align-items: center;
    list-style: none;
}
.nav-item{
    margin: 0 15px;
}
.nav-link{
    text-decoration: none;
    font-size: 1.15rem;
    color: #FFF;
}

#login-button button{
    width: 100px;
    height: 50px;
    margin: 5px;
    background-color: #1C284A;
    border: 2px solid #007aff;
    border-radius: 40px;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}
#login-button button a {
    text-decoration: none;
    color: #FFF;
    font-weight: 500;
    font-size: 1.1rem;
}

.menu li{
    display: inline-block;
    margin: 0 10px;
}
.menu li a{
    font-size: 15px;
    text-decoration: none;
    color: white;
}

#div-conta{
    display: flex;
    align-items: center;
}
.user-coins{
    margin-top: 10px;
}
.coins{
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
.user-icon{
    height: 50px;
    width: 50px;
    margin-left: 20px;
}

#Username{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
}
#saldo{
    font-family: sans-serif;
    font-weight: bold;
    color: #F5C823;
    font-size: 15px;
    margin-left: 5px;
}
