/* Container para todos os itens do menu de jogos */
.game-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Espaçamento entre os itens */
    margin-top: 50px;
}

/* Cada item de jogo */
.game-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px; /* Largura da imagem */
    height: 240px; /* Altura da imagem */
    overflow: hidden;
    border-radius: 15px; /* Bordas arredondadas */
    text-decoration: none;
}

/* Estilo da imagem de fundo */
.game-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta a imagem para cobrir o container */
    border-radius: 15px;
}
.game-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Ajuste a opacidade conforme necessário */
    border-radius: 15px;
  }
  
/* Título centralizado */
.game-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
    font-weight: bold;
    z-index: 1;
    font-family: 'Poppins', sans-serif;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8); /* Sombra para o texto */
    pointer-events: none; /* Ignora cliques no texto, para que o link funcione em toda a área */

}
