body{
    text-align: center;
    padding: 0;
    margin: 0;
    background-color: #080d1c;
    font-family: "Asap", sans-serif;
}

:root{
    --outer-shadow:
    0 0 0.1vw 0.4vw #fffb00,
    0 0 0.4vw 0.6vw #000000,
    0 0 1vw 0.4vw #001214,
}

.slot{
    width: 88%;
    height: 400px;
    overflow: hidden;
    margin: auto;
    margin-top: 40px;
    box-shadow: var(--outer-shadow);
}

#slot-screen{
    height: 500px;
    position: relative;
    overflow: hidden;
}

ul{
    list-style: none;
}

ul li{
    border: 2px solid black;
    border-radius: 5px;
    width: 98%;
    margin: 1px 0;
    background-color: #949090;
}

.reels{
    width: 31%;
    position: absolute;
    padding: 0px;
}

.reels:nth-child(1){
    left: 0;
}

.reels:nth-child(2){
    left: 34.5%;
}

.reels:nth-child(3){
    right: 0;
}

.reel img{
    display: block;
    margin: auto;
    height: 240px;
    max-width: 100%;
}

.stop-btn{
    display: inline-block;
    padding: 35px;
    margin: 40px;
    background-color: #1c284a;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-size: 18px;
    border-bottom: solid 4px #007aff;
    color: #fff;
    border-radius: 60px;
}

.stop-btn:hover{
    background-color: transparent;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    transition: 0.5s;
}

.stop-btn:active{
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    border-bottom: none;
}

#start-btn{
    display: inline-block;
    padding: 20px 40px;
    background-color:  green;
    border: 5px solid greenyellow;
    color:#fff;
    font-size: 30px;
    margin-bottom: 40px;
    font-weight: bold;
}

#start-btn:hover{
    background-color: rgb(237, 237, 0);
    cursor: pointer;

}

#start-btn:active{
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    border: none;
}
